/* CSS declarations go here */
html, body{
    margin : 0px;
    padding : 0px;
    width : 100%;
    height : 100%;
}
table.board {
	border: 2px double;
	width : 440px;
	height : 440px;
}
td.blackCell {
	background-color: black;
}
td.whiteCell {
	background-color: brown;
}
.facet {
	width : 20px;
	height : 20px;
}